# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Baudinis Zaidimas.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Univers\2 kursas\2 semestras\Žaidimai\Baudinis Zaidimas\.idea\.idea.Baudinis Zaidimas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
